

body {
    height:100%;
    width:100%;
    background: url("1.jpg") ;
}



.box {
    width:500px;
    height:300px;
    margin: 200px auto 200px auto;
    background-color: #000;
    border-radius: 20px;
    opacity: 0.5;
    min-width: 300px;
}

.title {
    height:80px;
    border-bottom: 1px solid #fff;
}

.title  a {
    color: #fff;
    text-align: center;
    display: block;
    padding-top: 10px;
    font-size: 30px;
    text-decoration: none;
}

.title  a:hover {
    text-decoration: underline;
}


.title div {
    color: #fff;
    text-align: center;
}